<script>

  const sshSelectedList = {}

  const handleSSHMachineSelectionCheckbox = (elem) => {
    $(elem).prop('checked', !$(elem).prop('checked'));
  }

  const handleSSHMachineSelectionView = () => {
    const finalCount = $('#ssh-machine-selection-table').children('tr').length;

    if(finalCount < 1) {
      $('#ssh-machine-selection-empty').show();
      $('#ssh-machine-selection-list').hide();
      $('#ssh-machine-selection-list').children('nav').hide();
      $('#ssh-machine-selected-count').hide();
    } else {
      $('#ssh-machine-selection-empty').hide();
      $('#ssh-machine-selection-list').show();
      $('#ssh-machine-selection-list').children('nav').css('display', 'flex');
      $('#ssh-machine-selected-count').show();
      $('#ssh-machine-selected-count').text(finalCount + ' selected');
    }
  };

  const selectSSHMachineCheckbox = (elem, checked) => {
    if(checked) {
      $(elem).find('input').prop('checked', true);
      $(elem).removeClass('hover:bg-blue-50 hover:text-blue-700').addClass('bg-gray-50');
      $(elem).children('td#description-td').removeClass('text-gray-900').addClass('text-blue-600');

    } else {
      $(elem).find('input').prop('checked', false);
      $(elem).removeClass('bg-gray-50').addClass('hover:bg-blue-50 hover:text-blue-700');
      $(elem).children('td#description-td').removeClass('text-blue-600').addClass('text-gray-900');
    }
  };

  const addSSHMachineSelection= (elem) => {
    const selectionList = $('#ssh-machine-selection-table');
    const newSpan = $("#ssh-machine-selection-row-template").clone(true, true);

    selectSSHMachineCheckbox(elem, true);
    const machine_name = $(elem).attr("machine_name");
    const machine_ip = $(elem).attr("machine_ip");

    newSpan.appendTo(selectionList);
    newSpan.show();
    const tableData = newSpan.children('td');
    tableData[0].textContent = machine_name + " " + machine_ip;
    newSpan.attr('machine_ip', machine_ip);
    newSpan.attr('machine_name', machine_name);

    sshSelectedList[machine_ip] = true;
    handleSSHMachineSelectionView();
  };

  const removeSSHMachineSelectionSpanElem = (rightElem, leftElem) => {
    rightElem.remove();
    selectSSHMachineCheckbox(leftElem, false);

    sshSelectedList[$(leftElem).attr("machine_ip") || $(rightElem).attr("machine_ip")] = false;
    handleSSHMachineSelectionView();
  };

  const removeAllSSHMachines = () => {
    const machines = $('#ssh-machine-selection-table').children('tr');
    for(iter = 0; iter < machines.length; iter++) {
      removeSSHMachineSelectionSpanElem(machines[iter], $("#ssh-machine-table").find(`tr[machine_ip="${$(machines[iter]).attr('machine_ip')}"]`));
    }
    $("#selectAllSSHMachine").prop("checked", false);
    updateSelectedSSHMachine();
  };

  const selectAllSSHMachineToggle = (elem) => {
    if(elem.checked) {
      const machines = $("#ssh-machine-table").children('tr');

      for (iter = 0; iter < machines.length; iter++) {
        if(!sshSelectedList[$(machines[iter]).attr('machine_ip')]) {
          addSSHMachineSelection(machines[iter]);
        }
      }
    } else {
      removeAllSSHMachines();
    }
    updateSelectedSSHMachine();
  }

  const removeSSHMachineSelection = (elem) => {
    $("#selectAllSSHMachine").prop("checked", false);
    removeSSHMachineSelectionSpanElem($("#ssh-machine-selection-table").find(`tr[machine_ip="${$(elem).attr('machine_ip')}"]`), elem);
  };

  const removeSSHMachineSelectionUI = (elem) => {
    rightElem = elem.parentElement.parentElement;
    $("#selectAllSSHMachine").prop("checked", false);
    removeSSHMachineSelectionSpanElem(rightElem, $("#ssh-machine-table").find(`tr[machine_ip="${$(rightElem).attr('machine_ip')}"]`));
    updateSelectedSSHMachine();
  };

  const handleSSHMachineSelection = (elem) => {
    if(!$(elem).find('input').prop('checked')) {
      addSSHMachineSelection(elem);
    } else {
      removeSSHMachineSelection(elem);
    }
    updateSelectedSSHMachine();
  };

  function updateSelectedSSHMachine() {
    const ssh_machines = $('#ssh-machine-selection-table').children('tr');
    const machines = [];
    for(iter = 0; iter < ssh_machines.length; iter++) {
      machines.push($(ssh_machines[iter]).attr("machine_name") + " " + $(ssh_machines[iter]).attr("machine_ip"));
    }

    $('#selected-ssh-machine').val(JSON.stringify(machines));
  }

  function getSelectedsshaccess() {
    return $('#sshaccess').val();
  }

  function addInputforOthersAccessLabel(){
    const selectedAccess = getSelectedsshaccess()
    if(selectedAccess === "other"){
       $("#sshOtherAccessLevel").removeClass("hidden")
    }
     else{
     $("#sshOtherAccessLevel").addClass("hidden")
     }
  }

  function fetchSSHMachines(search=undefined, page=undefined) {
    $.ajax({
      url: "/api/v1/ssh/machines/",
      data: {"search": search, "page": page},
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        const msg = XMLHttpRequest.responseJSON;
        alert(msg["error"]);
        showNotificiation("Failed", msg["error"]);
      }
    }).done(function(data, statusText, xhr){
      $("#ssh-machine-table tr").remove();
      let rows = data["machineList"].map(function(machine){
        return `<tr onclick="handleSSHMachineSelection(this)" class="${sshSelectedList[machine.ip]? "bg-gray-50": "hover:bg-blue-50 hover:text-blue-700"}" machine_name="${machine.name}" machine_ip="${ machine.ip }" >
          <td id="checkbox-td" class="relative w-12 px-6 sm:w-16 sm:px-8">
            <input type="checkbox" class="absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 sm:left-6" onclick="handleSSHMachineSelectionCheckbox(this)" ${ sshSelectedList[machine.ip]? "checked": ""}></input>
          </td>
          <td class="whitespace-nowrap py-4 pr-3 text-sm font-medium ${ sshSelectedList[machine.ip]? "text-blue-600" : "text-gray-900"}" id="description-td">${machine.name} ${machine.ip}</td>
        </tr>`
      })

      $('#ssh-machine-table').append(rows)

      if(data["next_page"]) {
        $("#sshPaginationNav").removeClass("hidden")
        $("#ssh_next_page").attr("onclick", `changeSSHMachinesPage('${data["next_page"]}')`);
      } else {
        $("#sshPaginationNav").removeClass("hidden")
        $("#ssh_next_page").attr("onclick", `changeSSHMachinesPage('None')`);
      }

      if(data["prev_page"]) {
        $("#sshPaginationNav").removeClass("hidden")
        $("#ssh_prev_page").attr("onclick", `changeSSHMachinesPage('${data["prev_page"]}')`);
      } else {
        $("#sshPaginationNav").removeClass("hidden")
        $("#ssh_prev_page").attr("onclick", `changeSSHMachinesPage('None')`);
      }

      if(!data["next_page"] && !data["prev_page"]) {
        $("#sshPaginationNav").addClass("hidden")
      }

      if(data["search_error"]) {
        alert(data["search_error"])
        showNotificiation(data["search_error"])
      }

      $("#sshGroupsScrollBar").scrollTop(0)
    });
  }

  function getSSHSearchValue() {
    return $("#sshSearch").val()
  }
  function searchSSHMachines(event, elem) {
    if(event.key === "Enter") {
      event.preventDefault();
      fetchSSHMachines($(elem).val(), undefined);
    }
  }

  function changeSSHMachinesPage(page) {
    if(page !== 'None'){
      fetchSSHMachines(getSSHSearchValue(), Number(page));
    }
  }

  $(window).on("load", ()=> {
    fetchSSHMachines()
  })


</script>

<div class="pt-4">
  <label for="sshaccess" class="text-sm font-medium leading-5 text-gray-700">Access Level:</label>
  <div class="mt-2 flex flex-row">
    <select onchange="addInputforOthersAccessLabel()" id="sshaccess" name="sshAccessLevel" class="w-[460px] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"required>
      <option hidden disabled selected value="">Select</option>
      <option value="app" >app</option>
      <option value="nonsudo" >non-sudo</option>
      <option value="sudo" >sudo</option>
      <option value="other">other</option>
    </select>

    <div>
      <input type="text" name="sshOtherAccessLevel" id="sshOtherAccessLevel" class="w-[460px] hidden ml-2 rounded-md border-gray-300  shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm" placeholder="Please provide other username">
    </div>

  </div>
</div>
<h1 class="pt-5 text-sm text-gray-900">Ssh machines that you can select</h1>
<div class="grid grid-cols-2 gap-4">
  <div class="flex-col">
    <div class="mt-4 flex flex-col">
      <div class="flex felx-row">
        <div class="flex-auto relative flex items-center">
          <input onkeydown="searchSSHMachines(event, this)" type="search" name="sshSearch" id="sshSearch" class="block w-full rounded-md border-gray-300 pr-12 shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm" placeholder="Search ssh machines">
          <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" class="text-gray-500 h-full" width="18px" fill="currentColor" aria-hidden="true">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
          </div>
        </div>
        <div class="flex-none flex">
          <input type="checkbox" onclick="selectAllSSHMachineToggle(this)" name="select-all-ssh-machine" id="selectAllSSHMachine" class="ml-4 mr-2 mt-2 px-1 py-1 top-1/2 h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 sm:left-6">
          <label class="ml-1 mr-3 mt-1 mb-2.5 text-base leading-6 font-normal text-gray-900">Select all</label>
        </div>
      </div>
      <div id="sshGroupsScrollBar" class="h-80 ml-1 overflow-y-auto bg-white mt-6 rounded-md border-0 ring-1 ring-gray-200">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full align-middle">
                <div class="relative overflow-hidden">
                  <table class="min-w-full table-fixed">
                    <tbody class="bg-white" id="ssh-machine-table">

                    </tbody>
                  </table>
                  <nav id="sshPaginationNav"
                    class="hidden flex flex-shrink-0 px-4 items-center rounded-b-lg justify-between align-bottom border-t border-gray-200 bg-white pt-4 pb-4 sticky">
                    <button type="button" id="ssh_prev_page"
                      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 sticky">
                      <svg xmlns="http://www.w3.org/2000/svg" class="rotate-180 fill-gray-400 mr-4" height="20" viewBox="0 -960 960 960" width="20">
                        <path d="m691-265-68-67 100-100H103v-94h621L623-626l67-67 214 214-213 214Z"/>
                      </svg>
                      Previous
                    </button>
                    <button type="button" id="ssh_next_page"
                      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 sticky">
                      Next
                      <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 ml-4" height="20" viewBox="0 -960 960 960" width="20">
                        <path d="m691-265-68-67 100-100H103v-94h621L623-626l67-67 214 214-213 214Z"/>
                      </svg>
                    </button>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 ml-2 flex flex-col">
    <div class="flex flex-row items-center mb-10">
      <h1 class="text-xl text-gray-900">Your selection</h1>
      <span class="inline-flex items-center rounded-full bg-green-100 ml-4 px-2.5 py-0.5 text-xs font-medium text-green-800 hidden" id="ssh-machine-selected-count">0 selected</span>
    </div>
    <div class="rounded-md border-0 ring-1 ring-inset ring-gray-200 py-24 px-6 sm:py-32 bg-white justify-center lg:px-8 flex h-80" id="ssh-machine-selection-empty">
      <div class="mx-auto max-w-2xl">
        <div class="flex gap-4 content-center justify-center min-w-full min-h-full">
          <div class="block m-auto content-center justify-center">
            <div class="m-auto content-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 96 960 960" width="40px" class="text-gray-400 flex-shrink-0 justify-center content-center block m-auto" fill="currentColor" aria-hidden="true">
                  <path d="M479.754 801Q504 801 519.5 786.246q15.5-14.755 15.5-39Q535 723 519.746 707q-15.255-16-39.5-16Q456 691 440.5 706.982 425 722.965 425 747.211q0 24.245 15.254 39.017Q455.509 801 479.754 801ZM436 624h94V354h-94v270Zm44.404 377q-88.872 0-166.125-33.084-77.254-33.083-135.183-91.012-57.929-57.929-91.012-135.119Q55 664.594 55 575.638q0-88.957 33.084-166.285 33.083-77.328 90.855-134.809 57.772-57.482 135.036-91.013Q391.238 150 480.279 150q89.04 0 166.486 33.454 77.446 33.453 134.853 90.802 57.407 57.349 90.895 134.877Q906 486.66 906 575.734q0 89.01-33.531 166.247-33.531 77.237-91.013 134.86-57.481 57.623-134.831 90.891Q569.276 1001 480.404 1001Zm.096-94q137.5 0 234-96.372T811 575.5q0-137.5-96.312-234Q618.375 245 479.5 245q-137.5 0-234 96.312Q149 437.625 149 576.5q0 137.5 96.372 234T480.5 907Zm-.5-331Z"/>
                </svg>
            </div>
            <h4 class="text-sm[14px] leading-5 font-medium tracking-tight text-center text-gray-900 sm:text-lg mt-2">You have not selected any machine yet</h4>
            <p class="mt-2 text-sm[14px] leading-5 font-normal text-center text-gray-700">Please select ssh machines from the left panel.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="h-80 w-full bg-white flex flex-col justify-center md:flex-col rounded-md border-0 ring-1 ring-inset ring-gray-200 md:flex hidden" style="display: none;" id="ssh-machine-selection-list">
      <div class="flex-1 relative overflow-y-auto space-y-1 inline-block rounded-md min-w-full align-middle">
          <table class="min-w-full border-l border-t border-r table-fixed rounded-md divide-gray-300">
            <tbody class="divide-gray-200 bg-white" id="ssh-machine-selection-table">
            </tbody>
          </table>
      </div>
      <nav class="flex flex-shrink-0 px-4 items-center justify-between align-bottom border-t border-gray-200 pt-4 pb-4 hidden">
        <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-base font-medium text-blue-700 shadow-sm hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2" onclick="removeAllSSHMachines();">
          Remove all
        </button>
      </nav>
    </div>
  </div>
</div>
<table class="hidden">
<tr id="ssh-machine-selection-row-template" class="hidden max-h-4 px-6 hover:bg-blue-50 hover:text-blue-700">
  <td class="relative w-full px-4" id="ssh-machine-selection-row-tabledesc">Machine</td>
  <td class="whitespace-nowrap px-4 py-4 text-sm font-medium text-gray-900 justify-right content-right max-w-2" id="ssh-machine-selection-row-cancel">
    <button type="button" class="ml-0.5 mr-0.5 inline-flex max-w-2 flex-shrink-0 items-center justify-center rounded-full text-blue-400 hover:bg-blue-200 hover:text-blue-500 focus:bg-blue-500 focus:text-white focus:outline-none" onclick="removeSSHMachineSelectionUI(this);">
      <span class="sr-only">Remove large option</span>
      <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
        <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
      </svg>
    </button>
  </td>
</tr>
</table>

<div class="mt-5">
  <label for="otherMachines" class="text-sm text-gray-900">Other IPs (comma separated):</label>
  <input type="text" name="other_machines" id="otherMachines" class="block w-1/2 rounded-md border-gray-300 pr-12 shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm" placeholder="Other machine IPs comma seperated">
</div>

<input type="hidden" id="selected-ssh-machine" value="[]" name="selected-ssh-machine">
