<div class="form-group">
  <label for="user_email">Zoom Email</label>
  <input type="hidden" name="modname" value="zoom_access">
  {% if module.identity.user_email %}
  <input placeholder="Zoom Email" type="email" class="form-control" id="name" name="user_email" required
      style="background-color:white;color:black" value="{{ module.identity.user_email }}">
  {% else %}
  <input placeholder="Zoom Email " type="email" class="form-control" id="name" name="user_email" required
      style="background-color:white;color:black">
  {% endif %}
</div>
