<script>

  var githubSelectedList = {}
  var githubDisabled = false

  const handleGithubRepoSelectionCheckbox = (elem) => {
    $(elem).prop('checked', !$(elem).prop('checked'));
  }

  const handleGithubReposelectionView = () => {
    let finalCount = $('#github-repo-selection-table').children('tr').length;
    if(githubDisabled) {
      finalCount = 'All';
    }

    if(finalCount < 1) {
      $('#github-repo-selection-empty').show();
      $('#github-repo-selection-list').hide();
      $('#github-repo-selection-list').children('nav').hide();
      $('#github-repo-selected-count').hide();
    } else {
      $('#github-repo-selection-empty').hide();
      $('#github-repo-selection-list').show();
      $('#github-repo-selection-list').children('nav').css('display', 'flex');
      $('#github-repo-selected-count').show();
      $('#github-repo-selected-count').text(finalCount + ' selected');
    }
  };

  const selectGithubRepoCheckbox = (elem, checked) => {
    if(checked) {
      $(elem).find('input').prop('checked', true);
      $(elem).removeClass('hover:bg-blue-50 hover:text-blue-700').addClass('bg-gray-50');
      $(elem).children('td#github-description-td').removeClass('text-gray-900').addClass('text-blue-600');

    } else {
      $(elem).find('input').prop('checked', false);
      $(elem).removeClass('bg-gray-50').addClass('hover:bg-blue-50 hover:text-blue-700');
      $(elem).children('td#github-description-td').removeClass('text-blue-600').addClass('text-gray-900');
    }
  };

  const githubHandleDisableMode = () => {
    githubSelectedList = {};
    const repos = $('#github-repo-table').children('tr');
    for(iter = 0; iter < repos.length; iter++) {
      if (githubDisabled) {
        $(repos[iter]).find('input').prop('checked', true);
        $(repos[iter]).removeAttr("onclick");
        $(repos[iter]).find('input').attr("disabled", true);
        $(repos[iter]).removeClass('hover:bg-blue-50 hover:text-blue-700').addClass('bg-gray-50');
        $(repos[iter]).children('td#github-description-td').removeClass('text-gray-900').addClass('text-blue-600');
      } else {
        $(repos[iter]).attr("onclick", "handleGithubReposelection(this)");
        $(repos[iter]).find('input').attr("disabled", false);
        $(repos[iter]).find('input').prop('checked', false);
        $(repos[iter]).removeClass('bg-gray-50').addClass('hover:bg-blue-50 hover:text-blue-700');
        $(repos[iter]).children('td#github-description-td').removeClass('text-blue-600').addClass('text-gray-900');
      }
    }
  };

  const addGithubReposelection = (elem) => {
    const selectionList = $('#github-repo-selection-table');
    const newSpan = $("#github-repo-selection-row-template").clone(true, true);

    selectGithubRepoCheckbox(elem, true);
    const org_name = $(elem).attr("org_name");
    const repo_name = $(elem).attr("repo_name");
    const repo_id = $(elem).attr("repo_id");

    newSpan.appendTo(selectionList);
    newSpan.show();
    const tableData = newSpan.children('td');

    tableData[0].textContent = org_name + "/" + repo_name;
    newSpan.attr('org_name', org_name);
    newSpan.attr('repo_name', repo_name);
    newSpan.attr('repo_id', repo_id)
    githubSelectedList[repo_id] = true;

    handleGithubReposelectionView();
  };

  const removeRepoSelectionSpanElem = (rightElem, leftElem) => {
    rightElem.remove();
    selectGithubRepoCheckbox(leftElem, false)

    githubSelectedList[$(leftElem).attr("repo_id") || $(rightElem).attr("repo_id")] = false;
    handleGithubReposelectionView();
  };

  const removeAllGithubRepos = (disabledState) => {
    githubDisabled = disabledState;
    const repos = $('#github-repo-selection-table').children('tr');
    for(iter = 0; iter < repos.length; iter++) {
      if($(repos[iter]).attr('selectAll')){
        $(repos[iter]).remove();
        $("#selectAllGithubRepo").prop("checked", false);
      } else {
        removeRepoSelectionSpanElem(repos[iter], $("#github-repo-table").find(`tr[repo_id="${$(repos[iter]).attr('repo_id')}"]`));
      }
    }
    githubHandleDisableMode();
    updateSelectedGithubRepo();
    handleGithubReposelectionView();
  };

  const selectAllGithubRepo = (elem) => {
    removeAllGithubRepos(true);
    const selectionList = $('#github-repo-selection-table');
    const newSpan = $("#github-repo-selection-row-template").clone(true, true);
    newSpan.appendTo(selectionList);
    newSpan.show();
    const tableData = newSpan.children('td');
    tableData[0].textContent = "All Repos Selected";
    newSpan.attr("selectAll", true);
    $(elem).attr("checked", true);
    updateSelectedGithubRepo();
  }

  const selectAllGithubRepoToggle = (elem) => {
    if(elem.checked) {
      selectAllGithubRepo(elem);
    } else {
      removeAllGithubRepos(false);
    }
    handleGithubReposelectionView();
  }

  const removeGithubReposelection = (elem) => {
    $("#selectAllGithubRepo").prop("checked", false);
    removeRepoSelectionSpanElem($("#github-repo-selection-table").find(`tr[repo_id="${$(elem).attr('repo_id')}"]`), elem);
  };

  const removeGithubReposelectionUI = (elem) => {
    rightElem = elem.parentElement.parentElement;
    if($(rightElem).attr("selectAll")){
      $("#selectAllGithubRepo").prop("checked", false);
      githubDisabled = false;
      githubHandleDisableMode();
      $(rightElem).remove();
      handleGithubReposelectionView();
    } else {
      removeRepoSelectionSpanElem(rightElem, $("#github-repo-table").find(`tr[repo_id="${$(rightElem).attr('repo_id')}"]`));
    }
    updateSelectedGithubRepo();
  };

  const handleGithubReposelection = (elem) => {
    if(!$(elem).find('input').prop('checked')) {
      addGithubReposelection(elem);
    } else {
      removeGithubReposelection(elem);
    }
    updateSelectedGithubRepo();
  };

  function updateSelectedGithubRepo() {
    const github_repos = $('#github-repo-selection-table').children('tr');
    const repos = [];
    for(iter = 0; iter < github_repos.length; iter++) {
      let repo = $(github_repos[iter]).attr("org_name") + "/" + $(github_repos[iter]).attr("repo_name")
      repos.push(repo);
    }

    $('#selected-github-repos').val(JSON.stringify(repos));
  }

  function fetchGithubRepos(search=undefined, page=undefined) {
    $("#selectAllGithubRepo").prop("disabled", true);
    $("#githubsearch").prop("disabled", true);
    $.ajax({
      url: "/api/v1/github/repos/",
      data: {"search": search, "page": page},
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        const msg = XMLHttpRequest.responseJSON;
        alert(msg["error"]);
        showNotificiation("Failed", msg["error"]);
      }
    }).done(function(data, statusText, xhr){
      $("#github-repo-table tr").remove();
      let rows = data["githubRepoList"].map(function(repo, idx){
        const repo_id = repo["orgName"]+"/"+repo["repoName"]
        return `<tr onclick="handleGithubReposelection(this)" org_name="${repo["orgName"]}" repo_name="${repo["repoName"]}" repo_id="${repo_id}" class="${githubSelectedList[repo_id]? "bg-gray-50": "hover:bg-blue-50 hover:text-blue-700"}" >
          <td id="github-checkbox-td" class="relative w-12 px-6 sm:w-16 sm:px-8">
            <input type="checkbox" class="absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 sm:left-6" onclick="handleGithubRepoSelectionCheckbox(this)" ${ githubSelectedList[repo_id]? "checked": ""}></input>
          </td>
          <td class="whitespace-nowrap py-4 pr-3 text-sm font-medium ${ githubSelectedList[repo_id]? "text-blue-600" : "text-gray-900"}" id="github-description-td">${repo_id}</td>
        </tr>`
      })

      $('#github-repo-table').append(rows)

      if(data["next_page"]) {
        $("#githubPaginationNav").removeClass("hidden")
        $("#github_next_page").attr("onclick", `changeGithubReposPage('${data["next_page"]}')`);
      } else {
        $("#githubPaginationNav").removeClass("hidden")
        $("#github_next_page").attr("onclick", `changeGithubReposPage('None')`);
      }

      if(data["prev_page"]) {
        $("#githubPaginationNav").removeClass("hidden")
        $("#github_prev_page").attr("onclick", `changeGithubReposPage('${data["prev_page"]}')`);
      } else {
        $("#githubPaginationNav").removeClass("hidden")
        $("#github_prev_page").attr("onclick", `changeGithubReposPage('None')`);
      }

      if(!data["next_page"] && !data["prev_page"]) {
        $("#githubPaginationNav").addClass("hidden")
      }

      if(data["search_error"]) {
        alert(data["search_error"])
        showNotificiation(data["search_error"])
      }

      $("#githubScrollBar").scrollTop(0)

      $("#selectAllGithubRepo").prop("disabled", false);
      $("#githubsearch").prop("disabled", false);
    });
  }

  function searchGithubRepos(event, elem) {
    if(event.key === "Enter") {
      event.preventDefault();
      fetchGithubRepos($(elem).val(), undefined);
    }
  }

  function getGithubSearchValue() {
    return $("#githubsearch").val()
  }

  function changeGithubReposPage(page) {
    if(page !== 'None'){
      fetchGithubRepos(getGithubSearchValue(), Number(page));
    }
  }

  $(window).on("load", () => {
    fetchGithubRepos()
  })


</script>

<div class="pt-4">
  <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50  text-blue-800" role="alert">
    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Info</span>
    <div>
      NOTE: Github merge access will not be raised if branch Protection on that Repository is
      Disabled. To enable Branch protection contact the Admin
    </div>
  </div>
  <label for="githubAccessLabel" class="text-sm font-medium leading-5 text-gray-700">Access Level</label>
  <div class="mt-2">
    <select id="githubAccessLabel" name="githubAccessLabel" class="w-[460px] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"required>
      <option hidden disabled selected value="">Select</option>
      <option value="push">push</option>
      <option value="pull">pull</option>
      <option value="admin">admin</option>
      <option value="merge">push + merge</option>
    </select>
  </div>
</div>

<h1 class="pt-5 text-sm text-gray-900">Search Git repository</h1>
<div class="grid grid-cols-2 gap-4">
  <div class="flex-col">
    <div class="mt-4 flex flex-col">
      <div class="flex felx-row">
        <div class="flex-auto relative flex items-center">
          <input type="search" name="gitsearch" onkeydown="searchGithubRepos(event, this)" id="gitsearch" class="block w-full rounded-md border-gray-300 pr-12 shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm" placeholder="Search github repos">
          <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" class="text-gray-500 h-full" width="18px" fill="currentColor" aria-hidden="true">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
          </div>
        </div>
        <div class="flex-none flex">
          <input type="checkbox" onclick="selectAllGithubRepoToggle(this)" name="select-all-github-repos" id="selectAllGithubRepo" class="ml-4 mr-2 mt-2 px-1 py-1 top-1/2 h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 sm:left-6">
          <label class="ml-1 mr-3 mt-1 mb-2.5 text-base leading-6 font-normal text-gray-900">Select all</label>
        </div>
      </div>
      <div id="githubScrollBar" class="h-80 ml-1 overflow-y-auto bg-white mt-6 rounded-md border-0 ring-1 ring-gray-200">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full align-middle">
                <div class="relative overflow-hidden">
                  <table class="min-w-full table-fixed">
                    <tbody class="bg-white" id="github-repo-table">
                    </tbody>
                  </table>
                  <nav id="githubPaginationNav"
                    class="hidden flex flex-shrink-0 px-4 items-center rounded-b-lg justify-between align-bottom border-t border-gray-200 bg-white pt-4 pb-4 sticky">
                    <button type="button" id="github_prev_page"
                      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 sticky">
                      <svg xmlns="http://www.w3.org/2000/svg" class="rotate-180 fill-gray-400 mr-4" height="20" viewBox="0 -960 960 960" width="20">
                        <path d="m691-265-68-67 100-100H103v-94h621L623-626l67-67 214 214-213 214Z"/>
                      </svg>
                      Previous
                    </button>
                    <button type="button" id="github_next_page"
                      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 sticky">
                      Next
                      <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 ml-4" height="20" viewBox="0 -960 960 960" width="20">
                        <path d="m691-265-68-67 100-100H103v-94h621L623-626l67-67 214 214-213 214Z"/>
                      </svg>
                    </button>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 ml-2 flex flex-col">
    <div class="flex flex-row items-center mb-10">
      <h1 class="text-xl text-gray-900">Your selection</h1>
      <span class="inline-flex items-center rounded-full bg-green-100 ml-4 px-2.5 py-0.5 text-xs font-medium text-green-800 hidden" id="github-repo-selected-count">0 selected</span>
    </div>
    <div class="rounded-md border-0 ring-1 ring-inset ring-gray-200 py-24 px-6 sm:py-32 bg-white justify-center lg:px-8 flex h-80" id="github-repo-selection-empty">
      <div class="mx-auto max-w-2xl">
        <div class="flex gap-4 content-center justify-center min-w-full min-h-full">
          <div class="block m-auto content-center justify-center">
            <div class="m-auto content-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 96 960 960" width="40px" class="text-gray-400 flex-shrink-0 justify-center content-center block m-auto" fill="currentColor" aria-hidden="true">
                  <path d="M479.754 801Q504 801 519.5 786.246q15.5-14.755 15.5-39Q535 723 519.746 707q-15.255-16-39.5-16Q456 691 440.5 706.982 425 722.965 425 747.211q0 24.245 15.254 39.017Q455.509 801 479.754 801ZM436 624h94V354h-94v270Zm44.404 377q-88.872 0-166.125-33.084-77.254-33.083-135.183-91.012-57.929-57.929-91.012-135.119Q55 664.594 55 575.638q0-88.957 33.084-166.285 33.083-77.328 90.855-134.809 57.772-57.482 135.036-91.013Q391.238 150 480.279 150q89.04 0 166.486 33.454 77.446 33.453 134.853 90.802 57.407 57.349 90.895 134.877Q906 486.66 906 575.734q0 89.01-33.531 166.247-33.531 77.237-91.013 134.86-57.481 57.623-134.831 90.891Q569.276 1001 480.404 1001Zm.096-94q137.5 0 234-96.372T811 575.5q0-137.5-96.312-234Q618.375 245 479.5 245q-137.5 0-234 96.312Q149 437.625 149 576.5q0 137.5 96.372 234T480.5 907Zm-.5-331Z"/>
                </svg>
            </div>
            <h4 class="text-sm[14px] leading-5 font-medium tracking-tight text-center text-gray-900 sm:text-lg mt-2">You have not selected any repos yet</h4>
            <p class="mt-2 text-sm[14px] leading-5 font-normal text-center text-gray-700">Please select Github repos from the left panel.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="h-80 w-full bg-white flex flex-col justify-center md:flex-col rounded-md border-0 ring-1 ring-inset ring-gray-200 md:flex hidden" style="display: none;" id="github-repo-selection-list">
      <div class="flex-1 relative overflow-y-auto space-y-1 inline-block rounded-md min-w-full align-middle">
          <table class="min-w-full border-l border-t border-r table-fixed rounded-md divide-gray-300">
            <tbody class="divide-gray-200 bg-white" id="github-repo-selection-table">
            </tbody>
          </table>
      </div>
      <nav class="flex flex-shrink-0 px-4 items-center justify-between align-bottom border-t border-gray-200 pt-4 pb-4 hidden">
        <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-base font-medium text-blue-700 shadow-sm hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2" onclick="removeAllGithubRepos(false);">
          Remove all
        </button>
      </nav>
    </div>
  </div>
</div>
<table class="hidden">
<tr id="github-repo-selection-row-template" class="hidden max-h-4 px-6 hover:bg-blue-50 hover:text-blue-700">
  <td class="relative w-full px-4" id="github-repo-selection-row-tabledesc">Repo</td>
  <td class="whitespace-nowrap px-4 py-4 text-sm font-medium text-gray-900 justify-right content-right max-w-2" id="github-repo-selection-row-cancel">
    <button type="button" class="ml-0.5 mr-0.5 inline-flex max-w-2 flex-shrink-0 items-center justify-center rounded-full text-blue-400 hover:bg-blue-200 hover:text-blue-500 focus:bg-blue-500 focus:text-white focus:outline-none" onclick="removeGithubReposelectionUI(this);">
      <span class="sr-only">Remove large option</span>
      <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
        <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
      </svg>
    </button>
  </td>
</tr>
</table>

<input type="hidden" id="selected-github-repos" value="[]" name="selected-github-repos">
<div class="flex p-4 mt-4 text-sm text-blue-800 rounded-lg bg-blue-50  text-blue-800" role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <span class="sr-only">Info</span>
  <div>
    Require github username to be present , You will be automatically added to github org when 1st github request gets approved.
  </div>
</div>
