<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">{{ each_access.formDesc }}</h2>
  </div>
</div>

<input type="hidden" id="opsgenieLabel" name="accessLabel" value="[]">
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-3">
        <label for="Access" style="font-weight: bolder; min-height:0px; margin-top:10px; font-size:medium;">Access Level:</label>
        <select id="opsgenieAccessLevel" name="opsgenieAccessLevel" class="form-control" required>
          <option hidden disabled selected value> -- select -- </option>
          <option value="user" >Member</option>
          <option value="team_admin" >Admin</option>
        </select>
      </div>
    </div>

    <label for="opsgenie-team" style="padding-left: 20px ; font-weight: bolder; min-height:0px; margin-top:10px; font-size:medium;">Opsgenie Teams:</label>
    <div class="row">
      <div class="col-xs-5 col-md-5">
        <select id="opsgenie-team" class="form-control" size="8" multiple="multiple">
          {% for permission, desc in each_access.accessRequestData.opsgenie.items %}
            <option value="{{permission}}">{{permission}}</option>
          {%endfor%}
        </select>
      </div>

      <div class="col-xs-2 col-md-2" style="margin-top:1%;">
        <button type="button" id="opsgenie-team_rightSelected" class="btn btn-block btn-primary"><i class="fa fa-angle-right" style="font-size:24px"></i></button>
        <button type="button" id="opsgenie-team_leftSelected" class="btn btn-block btn-primary"><i class="fa fa-angle-left" style="font-size:24px"></i></button>
      </div>

      <div class="col-xs-5 col-md-5">
        <select id="opsgenie-team_to" class="form-control" size="8" multiple="multiple"></select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label class="col-sm-3" for="reason" style="padding-left:15px; font-weight: bolder; min-height:0px; margin-top:10px; font-size:medium;">Reason for Access:</label>
      <input type="text" class="form-text1" id="reason" name="accessReason" style="width:60%;" maxlength="2024" required>
    </div>
  </div>
</div>


<script type="text/javascript">

jQuery(document).ready(function($) {
    function getSelectedTeams() {
      return $('#opsgenie-team_to').children().map(function () { return $(this).val() }).get()
    }
    function getOpsgenieAccessLevel() {
      return $('#opsgenieAccessLevel').val()
    }
    function teamListChange() {
      labelComponents = JSON.parse($('#opsgenieLabel').val());
      if(!labelComponents.length){
        labelComponents = [{}]
      }
      labelComponents[0]["teams_list"] = getSelectedTeams()
      labelComponents[0]["UserType"] = getOpsgenieAccessLevel()
      $('#opsgenieLabel').val(JSON.stringify(labelComponents));
    }

    function registerEventsOnLoad() {
      $('#opsgenieAccessLevel').dropdown();
      $("#opsgenieAccessLevel").on("change", teamListChange);
      $("#opsgenie-team_to").on("change", teamListChange);
      $("#opsgenie-team").on("change", teamListChange);

      $("#opsgenie-team").multiselect({
        search: {
          left: '<input type="text" class="form-control" placeholder="Search..." />',
          right: '<input type="text" class="form-control" placeholder="Search..." />',
        },
        fireSearch: function (value) {
          return value.length > 1;
        },
        submitAllLeft: false,
        submitAllRight: false,
        afterMoveToRight: teamListChange,
        afterMoveToLeft: teamListChange,
      });
    }

    registerEventsOnLoad()
  });

</script>
