<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color:#3a3939;
  }
</style>

<div class="page-header">
<div class="container-fluid">
  <h2 class="h5 no-margin-bottom">{{ each_access.formDesc }}</h2>
</div>
</div>

<div style="margin: 0px; padding: 1%;">
<div>
  <div class="form-group">
    <label for="awsAccount">AWS Account</label>
    <select class="form-control" id="awsAccount">
      <option hidden disabled selected value> -- select -- </option>
      {% for each_account in each_access.accessRequestData.accounts %}
      <option value="{{ each_account }}">{{ each_account }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group d-none" id="aws-groups-form-div" style="padding-top:10px;">
    <label for="awsGroups">AWS groups that you should be a part of</label>

    <div class="row" style="padding-top:5px;">
      <div class="col-xs-5 col-md-5">
        <select id="awsGroupComponents" class="form-control" size="8" multiple="multiple">
        </select>
        <div class="aws-next-page-token-btn d-inline"><button type="button" id="awsNextPageToken" class="btn btn-primary" style="padding: 0px 30px;" value=""><i class="small material-icons">Next Page</i></button></div>
      </div>

      <div class="col-xs-2 col-md-2" style="margin-top:1%;">
        <button type="button" id="awsGroupComponents_rightSelected" class="btn btn-block btn-primary multiselect-button"><i class="fa fa-angle-right" style="font-size:24px"></i></button>
        <button type="button" id="awsGroupComponents_leftSelected" class="btn btn-block btn-primary multiselect-button"><i class="fa fa-angle-left" style="font-size:24px"></i></button>
      </div>

      <div class="col-xs-5 col-md-5">
        <select id="awsGroupComponents_to" class="form-control required" size="8" multiple="multiple">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-check-label">Reason</label>
      <textarea class="form-control" name="accessReason" type="accessReason" rows="3" required></textarea>
    </div>
  </div>

  <input type="hidden" id="awsAccessLabel" value="[]" name="accessLabel">
</div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function ($) {
    function showGroupComponentsStaticMessage(message) {
      $("#awsGroupComponents").html(`<option value="static">${message}</option>`);
      $("#awsGroupComponents_to").html(`<option value="static">${message}</option>`);
    }

    function showFromGroupComponentsStaticMessage(message) {
      $("#awsGroupComponents").html(`<option value="static">${message}</option>`);
    }

    function populateAWSGroups(marker=null) {
      showFromGroupComponentsStaticMessage("Fetching ...");

      let account = getSelectedAWSAccount();
      if(account === "") return;

      $.ajax({
        url: "/api/v1/aws/account/groups/",
        data: {"AWSAccount": account, "marker": marker},
        error: (xhr, status, error) => {
          showGroupComponentsStaticMessage(`Failed to fetch groups. Error ${error}`);
        },
      }).done(function(data, statusText, xhr){
        let status = xhr.status;
        let head = xhr.getAllResponseHeaders();
        if(status != 200) {
          showGroupComponentsStaticMessage(`Failed to fetch groups. API response status code ${status}`);
          return;
        }
        if(!("AWSGroups" in data)) {
          showGroupComponentsStaticMessage('Got malformed API response');
          return;
        }
        // $("#awsGroupComponents_to").html('');
        let optionArray = $.map(data["AWSGroups"], function(group, idx) { return `<option value="${group}"> ${group} </option>` });
        $("#awsGroupComponents").html(optionArray.join(""));

        if(!data["marker"]) {
          $("#awsNextPageToken").val("")
        }
        else{
          $("#awsNextPageToken").val(data["marker"])
        }
      });
    }

    $(document).on("click", "#awsNextPageToken", () => {
      next_marker = $("#awsNextPageToken").val()
      populateAWSGroups(next_marker)
    })

    function awsAccountChanged() {
      $('#aws-groups-form-div').removeClass('d-none');
      $('#aws-groups-form-div').show();
      populateAWSGroups();
      updateAccessLabel();
    }

    function awsGroupChanged() {
      updateAccessLabel();
    }

    function getSelectedAWSAccount() {
      return $('#awsAccount').val();
    }

    function getSelectedAWSGroups() {
      return $('#awsGroupComponents_to').children().map(function () { return $(this).val() }).get().filter(groupName => groupName != "static");
    }

    function updateAccessLabel(){
      let awsAccount = getSelectedAWSAccount();
      let awsGroups = getSelectedAWSGroups();
      updatedLabels = []
      for(group of awsGroups) {
        updatedLabels.push({
          "action": "GroupAccess",
          "account": awsAccount,
          "group": group
        })
      }
      let labels = JSON.parse($('#awsAccessLabel').val());
      labels = updatedLabels
      $('#awsAccessLabel').val(JSON.stringify(labels));
      $('#awsAccessTest').html(JSON.stringify(labels))
    }

    function registerEventsOnLoad(){
      $('#awsAccount').dropdown();
      $('#awsAccount').on('change', awsAccountChanged);
      $("#awsGroupComponents").on('change', awsGroupChanged);
      $("#awsGroupComponents_to").on('change', awsGroupChanged);

      $(["#awsGroupComponents"]).each((idx, elem) => {
        $(elem).multiselect({
          search: {
            left: '<input type="text" class="form-control" placeholder="Search..." />',
            right: '<input type="text" class="form-control" placeholder="Search..." />',
          },
          fireSearch: function (value) {
            return value.length > 1;
          },
          submitAllLeft: false,
          submitAllRight: false,
          afterMoveToRight: updateAccessLabel,
          afterMoveToLeft: updateAccessLabel,
        });
      });
      $("#awsGroupComponents_to").html('');
      updateAccessLabel();
    }

    registerEventsOnLoad();
  });
</script>
